@charset "UTF-8";

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
}

body:hover::-webkit-scrollbar-thumb {
  background: #6a7d9b;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  padding: 20px 5px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  position: relative;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 120px;
  height: 24px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__bue {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.header-nav__markets {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.header-nav__trade {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.header-nav__derivatives {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.header-nav__earn {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.header-nav__finance {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.header-nav__ntf {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.log-in {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
}

.app {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
}

.lang {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
}

.money {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
}

nav a:hover {
  color: #f0b90b;
  cursor: pointer;
}

.dws-menu * {
  margin: 0;
  padding: 0;
}

.dws-menu ul,
.dws-menu ol {
  list-style: none;
}

.dws-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dws-menu > ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dws-menu > ul li {
  position: relative;
}

.dws-menu > ul li > a i.fa {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

.dws-menu li a:hover {
  color: #f0b90b;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dws-menu li ul {
  position: absolute;
  min-width: 370px;
  display: none;
  z-index: 10;
}

.dws-menu li > ul li a {
  padding: 10px;
  text-transform: none;
}

.dws-menu li:hover > ul {
  display: block;
}

.dws-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dws-big__container {
  padding: 0 16px 16px;
}

.dws-mini__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  padding-left: 40px;
  border-radius: 5px;
}

.dws-mini__container:hover > .dws-bur__cripto {
  color: #f0b90b;
}

.dws-mini__container:hover > .dws-bur__cripto_g {
  color: #f0b90b;
}

.dws-mini__container:hover {
  background-color: #232930;
  color: #f0b90b;
}

.fa-angle-down {
  margin-left: 5px;
}

.dws-header__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  outline: none;
  cursor: pointer;
  color: #eaecef;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  text-decoration: none;
  height: 100%;
}

.dws-header__text:hover {
  color: #f0b90b;
}

.dws-header__text:hover > .fa-angle-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dws-menu-right * {
  margin: 0;
}

.dws-menu-right ul,
.dws-menu-right ol {
  list-style: none;
}

.dws-menu-right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dws-menu-right > ul:hover {
  color: #f0b90b;
}

.dws-menu-right > ul li a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}

.dws-menu-right > ul li a:nth-child(2) {
  font-size: 500px;
}

.dws-menu-right > ul li a:hover {
  color: #f0b90b;
}

.dws-menu-right > ul li {
  position: relative;
}

.dws-menu-right li a:hover {
  color: #fff;
}

.dws-menu-right li ul {
  position: absolute;
  min-width: 100px;
  display: none;
  top: 10px;
  left: -70px;
}

.dws-menu-right li > ul li a {
  padding: 0 10px;
  text-transform: none;
}

.dws-menu-right li > ul li a:first-child {
  padding-top: 5px;
}

.dws-menu-right li > ul li a:last-child {
  padding-bottom: 15px;
}

.dws-menu-right li:hover > ul {
  display: block;
}

.dws-container {
  position: relative;
  z-index: 50;
  background-color: #1e2329;
  padding: 10px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 20px;
}

.dws-bur__cripto_g {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: #eaecef;
  font-size: 16px;
  font-weight: 600;
}

.dws-bur__cripto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4px 0px 0px;
  min-width: 0px;
  font-size: 12px;
  color: #848e9c;
  margin-left: 20px;
}

.registration {
  background-color: #f0b90b;
  padding: 4px;
  border-radius: 3px;
  color: #212833 !important;
}

.registration:hover {
  background-color: #d8a60a;
  color: #fff !important;
}

.dws-big__container__vb {
  width: 900px;
}

.fa-th_h:hover > .fa-angle-down_h {
  font-size: 100px;
}

.y-som {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 0px 0px 8px;
  min-width: 0px;
  position: relative;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  line-height: 16px;
  background-color: #fcd535;
  color: #1e2329;
}

.y-som::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: -3px;
  top: 2px;
  border-width: 6px 6px 6px 0px;
  border-left-style: initial;
  border-left-color: initial;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-style: solid;
  border-right-color: #f0b90b;
}

.settings {
  height: 20px;
  width: 20px;
}

.book svg {
  height: 20px;
  width: 20px;
}

.lang {
  position: relative;
  margin-right: 16px !important;
}

.lang::after {
  content: '';
  position: absolute;
  right: -8px;
  top: 3px;
  width: 1px;
  height: 13px;
  background-color: #5e6673;
}

.main__cost {
  font-size: 20px;
  font-weight: 500;
  color: #eaecef;
}

.main__txt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: #848e9c;
  text-decoration: underline;
}

.main_overlay-one {
  margin-left: 15px;
  border-right: 1px solid #fff;
  padding-right: 15px;
}

.main_overlay-two {
  margin-top: 5px;
}

.showPrice {
  color: #f6465d;
  margin-left: 15px;
}

.subPrice {
  font-size: 12px;
  color: #eaecef;
  margin-left: 15px;
}

.main_overlay-three {
  margin-top: 5px;
}

.main_overlay-three {
  margin-left: 10px;
  margin-top: 5px;
}

.main_overlay-four {
  margin-left: 10px;
  margin-top: 5px;
}

.main_overlay-five {
  margin-left: 10px;
  margin-top: 5px;
}

.main_overlay-six {
  margin-left: 10px;
  margin-top: 5px;
}

.main_overlay-seven {
  margin-left: 10px;
  margin-top: 5px;
}

.tickerItemLabel {
  font-size: 12px;
  margin-right: 0px;
  margin-bottom: 2px;
  color: #848e9c;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid transparent;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tickerPriceText {
  font-size: 12px;
  color: #eaecef;
}

.cup {
  border: 1px solid #1e2528;
  border-bottom: none;
  padding: 0 4px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.cup__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  padding: 10px 16px 4px;
  height: 40px;
  font-size: 14px;
  color: #eaecef;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 600;
  background-color: #161a1e;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.cup__header-cost-text {
  font-size: 12px;
  color: #848e9c;
}

.cup__header-cost {
  font-size: 12px;
  color: #f6465d;
}

.cup__number {
  font-size: 12px;
  color: #848e9c;
  text-align: right;
}

.cup__number-cost {
  font-size: 12px;
  color: #f6465d;
  text-align: right;
}

.cup__all {
  font-size: 12px;
  color: #848e9c;
  text-align: right;
}

.cup__all-cost {
  font-size: 12px;
  color: #f6465d;
  text-align: right;
}

.cup__sub-header__one {
  color: #0ecb81;
  font-size: 20px;
  vertical-align: middle;
}

.cup__sub-header__two {
  font-size: 12px;
  text-align: right;
  color: #848e9c;
  vertical-align: middle;
}

.cup__sub-header__three {
  text-align: right;
  color: #848e9c;
  font-size: 12px;
  text-decoration: none;
  vertical-align: middle;
}

.cup__sub-header__one-cost {
  font-size: 12px;
  text-align: left;
  color: #0ecb81;
}

.cup__sub-header__two-cost {
  text-align: right;
  color: #b7bdc6;
  font-size: 12px;
}

.cup__sub-header__three-cost {
  text-align: right;
  color: #b7bdc6;
  font-size: 12px;
}

.deals-header__one {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 12px;
  color: #848e9c;
  margin: 5px 0;
}

.deals-header__two {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 12px;
  color: #848e9c;
  margin: 5px 0;
  text-align: right;
}

.deals-header__three {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 12px;
  color: #848e9c;
  margin: 5px 0;
  text-align: right;
  margin-right: 7px;
}

.deals__one-cost {
  color: #f6465d;
}

.deals__two-cost {
  color: #b7bdc6;
  text-align: right;
}

.deals__three-cost {
  color: #b7bdc6;
  text-align: right;
}

.deals__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 164px;
  color: #eaecef;
  font-weight: 600;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding: 10px 16px 4px;
  font-size: 16px;
  color: #eaecef;
  font-weight: 600;
  background-color: #161a1e;
}

.deals {
  padding: 0 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 100%;
  border: 1px solid #1e2528;
}

.cub-sub {
  height: 100%;
  border: 1px solid #1e2528;
  border-top: none;
  border-bottom: none;
  padding: 0 4px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.deals__block {
  height: 252px;
  overflow-y: scroll;
}

.deals__block::-webkit-scrollbar-track {
  border-radius: 4px;
}

.deals__block::-webkit-scrollbar {
  width: 6px;
}

.deals__block::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
}

.deals__block:hover::-webkit-scrollbar-thumb {
  background: #6a7d9b;
}

.deals-mini__block {
  height: 170px;
}

.tradingview-widget-container {
  min-height: 600px;
}

#tradingview_e412b div {
  height: 480px !important;
}

#tradingview_e412 div {
  height: 480px !important;
}

.mail-block {
  overflow: hidden;
  max-width: 100% !important;
}

.edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-on {
  display: none;
}

.tabs__mini {
  height: 250px;
}

.tabs__mini {
  display: none;
}

.deals-mini {
  display: none;
}

.box-mini {
  display: none;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.tabs__item {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.tabs__item.active {
  color: #f0b90b;
}

.tabs__block-one {
  position: relative;
  border-bottom: 1px solid #252930;
}

.tabs__block-one__item {
  font-size: 10px;
  color: #848e9c;
}

.tabs__block-one__item:nth-child(6) {
  text-align: right;
  display: block;
}

.tabs__block-one__item:nth-child(7) {
  text-align: right;
  display: block;
}

.tabs__block-one__item:nth-child(8) {
  text-align: center;
  display: block;
}

.tabs__block-one__item:nth-child(9) {
  text-align: right;
  display: block;
}

.tabs__block-one__item:nth-child(10) {
  text-align: right;
  display: block;
}

.tabs__block-two {
  position: relative;
  border-bottom: 1px solid #252930;
  display: none;
}

.tabs__block-two__item-sup {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #848e9c;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 6px;
  border-radius: 2px;
  min-width: 48px;
  margin-right: 8px;
}

.tabs__block-two__item-sup:hover {
  background-color: #404454;
}

.tabs__block-two__item-sup.active {
  background-color: #2b3139;
}

.tabs__block-two__item {
  font-size: 10px;
  color: #848e9c;
}

.tabs__block-three {
  position: relative;
  border-bottom: 1px solid #252930;
  display: none;
}

.tabs__block-three__item-sup {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #848e9c;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 6px;
  border-radius: 2px;
  min-width: 48px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.tabs__block-three__item-sup:hover {
  background-color: #404454;
}

.tabs__block-three__item-sup.active {
  background-color: #2b3139;
}

.tabs__block-three__item {
  font-size: 10px;
  color: #848e9c;
}

.tabs__block-two__cal-from {
  background-color: transparent;
  color: #848e9c;
}

.tabs__block-two__btn {
  background-color: #2b3139;
  margin: 0px 0px 0px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 4px 8px;
  min-width: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  min-height: 24px;
  border: none;
  background-color: #23282d;
  color: #eaecef;
  border-radius: 2px;
}

.tabs__block-two__btn:hover {
  background-color: #39424a;
}

.tabs__block-two__btn_l {
  margin: 0px 0px 0px 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 4px 8px;
  min-width: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  min-height: 24px;
  border: none;
  color: #848e9c;
  background-color: #474d57;
  border-radius: 2px;
}

.tabs__block-two__btn_l:hover {
  background-color: #30343b;
}

.tabs__block-three__btn {
  background-color: #2b3139;
  margin: 0px 0px 0px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 4px 8px;
  min-width: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  min-height: 24px;
  border: none;
  background-color: #23282d;
  color: #eaecef;
  border-radius: 2px;
}

.tabs__block-three__btn:hover {
  background-color: #39424a;
}

.tabs__block-three__btn_l {
  margin: 0px 0px 0px 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 4px 8px;
  min-width: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  min-height: 24px;
  border: none;
  color: #848e9c;
  background-color: #474d57;
  border-radius: 2px;
}

.tabs__block-three__btn_l:hover {
  background-color: #30343b;
}

.tabs__block-two__items-sup {
  margin-bottom: 8px;
}

.tabs__block {
  display: none;
}

.tabs__block.active {
  display: block;
}

.tabs__block-four__item {
  font-size: 12px;
  color: #848e9c;
}

.tabs__block-four__item:last-child {
  text-align: right;
}

.tabs__block-four__items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 32px;
  border-bottom: 1px solid #252930;
  color: #848e9c;
  min-width: 640px;
}

/* Чекмарк */

.container {
  margin-left: 50px;
  margin-bottom: 10px;
  color: white;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(43, 47, 54, 0.9);
}

.container:hover input ~ .checkmark {
  background-color: rgba(43, 47, 54, 0.9);
  border: 1px solid #f0b90b;
}

.container input:checked ~ .checkmark {
  background-color: #f0b90b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgba(43, 47, 54, 0.9);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container2 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container2 input:checked ~ .checkmark {
  background-color: #f0b90b;
}

.container2 input:checked ~ .checkmark:after {
  display: block;
}

.container2 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgba(43, 47, 54, 0.9);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.assets {
  padding: 5px 8px;
  border: 1px solid #1e2528;
  border-left: none;
  height: 100%;
}

.assets-header {
  padding: 5px 10px 10px 10px;
}

.assets-header__left {
  color: #eaecef;
  font-weight: 600;
}

.assets-header__right {
  font-size: 12px;
  color: #848e9c;
  text-decoration: underline;
}

.assets-header__right_g {
  text-transform: uppercase;
  background-color: #36321d;
  color: #f0b90b;
  padding: 0px 4px;
  border-radius: 2px;
  border-bottom: none;
  font-weight: 400;
  margin-left: 4px;
  margin-right: 4px;
}

.assets-btn {
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #eaecef;
  background-color: #474d57;
  border-radius: 2px;
  padding: 4px 8px;
}

.assets-btn:hover {
  background-color: #30343b;
}

.assets-descr__block {
  margin-top: 20px;
}

.assets-descr__text {
  color: #848e9c;
}

.assets-descr__text_b {
  color: #eaecef;
  font-weight: 600;
}

.assets-descr__text-number {
  color: #eaecef;
}

.spot {
  padding: 1px 16px 16px 16px;
  background: #1e2126;
  height: 100%;
}

.spot-spot {
  border-top: 10px;
  border-bottom: 1px solid transparent;
  color: #eaecef;
  background-color: #1e2026;
  font-weight: 600;
  padding: 10px 15px;
  margin-right: 15px;
  cursor: pointer;
}

.spot-spot.active {
  border-top: 2px solid #f0b90b;
}

.spot-chat {
  padding-top: 1px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  color: #eaecef;
  background-color: #1e2026;
  font-weight: 600;
  padding: 10px 15px;
}

.spot-chat.active {
  border-top: 2px solid #f0b90b;
}

.spot-bue {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  height: 32px;
  text-transform: uppercase;
  background-color: #2b3139;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
  position: relative;
}

.spot-bue.active {
  background-color: #0ecb81;
}

.spot-bue.active::after {
  content: '';
  position: absolute;
  top: -1.5px;
  right: -36px;
  border: 17.5px solid transparent;
  border-left: 20px solid #0ecb81;
  border-radius: 5px;
  z-index: 5;
}

.spot-sell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  height: 32px;
  text-transform: uppercase;
  background-color: #2b3139;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  position: relative;
}

.spot-sell.active {
  background-color: #f6465d;
}

.spot-sell.active::after {
  content: '';
  position: absolute;
  top: -1.5px;
  left: -36px;
  border: 17.5px solid transparent;
  border-right: 20px solid #f6465d;
  border-radius: 5px;
}

.spot-limit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-limit.active {
  color: #f0b90b;
}

.spot-market {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-market.active {
  color: #f0b90b;
}

.spot-slimit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-slimit.active {
  color: #f0b90b;
}

.spot-oco {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-oco.active {
  color: #f0b90b;
}

.spot-val {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 8px 10px 0px;
  min-width: 0px;
  color: #848e9c;
  font-size: 12px;
  height: 16px;
}

.spot-val_g {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  vertical-align: middle;
  color: #eaecef;
  display: inline-block;
  font-weight: 600;
}

.spot-input {
  color: #eaecef;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: right;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  line-height: 1.6;
  border: 1px solid rgba(43, 47, 54, 0.8);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: rgba(43, 47, 54, 0.9);
  margin-bottom: 15px;
  height: 40px;
  position: relative;
  padding-right: 50px;
}

.spot-input:hover {
  border: 1px solid #f0b90b;
}

.spot-input:focus {
  border: 1px solid #f0b90b;
}

.spot-bue__g {
  background-color: #2ed191;
  margin: 16px 0px 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 6px 12px;
  min-width: 52px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  word-break: keep-all;
  min-height: 24px;
  background-color: #0ecb81;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
}

.spot-sell__g {
  margin: 16px 0px 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 6px 12px;
  min-width: 52px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  word-break: keep-all;
  min-height: 24px;
  background-color: #f6465d;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
}

.tabs__list {
  margin-top: 12px;
}

.spot-input__block {
  position: relative;
}

.spot-input__cost {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background: transparent;
  color: #848e9c;
}

.spot-input__btc {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  background: transparent;
  color: #eaecef;
}

.spot-input__market {
  position: absolute;
  top: 10px;
  right: 55px;
  color: #eaecef;
}

.spot-sellimit {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-sellimit.active {
  color: #f0b90b;
}

.spot-sellmarket {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-sellmarket.active {
  color: #f0b90b;
}

.spot-sellslimit {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-sellslimit.active {
  color: #f0b90b;
}

.spot-selloco {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #848e9c;
  cursor: pointer;
  background-color: transparent;
}

.spot-selloco.active {
  color: #f0b90b;
}

.spot-tab___bue {
  display: none;
}

.spot-tab___bue.active {
  display: block;
}

.spot-tabs__bue-btn {
  color: #848e9c;
}

.spot-tabs__bue-btn.active {
  color: #f0b90b;
}

.spot-tabs__sell-btn {
  color: #848e9c;
}

.spot-tabs__sell-btn.active {
  color: #f0b90b;
}

.spot-tab___sell {
  display: none;
}

.spot-tab___sell.active {
  display: block;
}

.spot-input_d {
  border: none;
  background-color: #474d57;
}

.spot-input_d:hover {
  border: none;
}

.burger {
  display: none;
}

.burger-menu {
  position: relative;
  display: box;
}

.bureger-body {
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0px;
  right: -500px;
  z-index: 100;
  background-color: #14151a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bureger-body.active {
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.block__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: #eaecef;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  text-decoration: none;
  padding: 16px;
}

.block__text {
  display: none;
  color: #eaecef;
}

.block-burger__item {
  color: #eaecef;
  outline: none;
  text-decoration: none;
}

.block-burger__item:hover {
  color: #eaecef;
}

.block-burger__items {
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: #eaecef;
  position: relative;
  text-decoration: none;
  padding: 4px 16px 16px 36px;
}

.block-burger__item {
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: #eaecef;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  text-decoration: none;
  padding: 16px;
}

.cross {
  font-size: 16px;
  outline: none;
  cursor: pointer;
  color: #eaecef;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  text-decoration: none;
  padding: 16px;
  text-align: right;
}

.croos-bars {
  padding-top: 6px;
}

.block__item-last {
  display: none;
}

.ov {
  overflow: hidden;
}

.col-xl-6 {
  width: 50% !important;
}

.col-xl-3 {
  width: 25% !important;
}

@media (max-width: 1350px) {
  .edit-on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .edit-off {
    display: none;
  }

  #tradingview_e412 div {
    height: 532px !important;
  }
}

@media screen and (max-width: 1150px) {
  .header__right {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 1010px) {
  .deals {
    display: none;
  }

  .assets {
    display: none;
  }

  .tabss {
    display: none;
  }

  .none {
    display: none;
  }

  .tabs__mini {
    display: block;
  }

  .deals-mini {
    display: block;
  }

  .box-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #tradingview_e412 div {
    display: none !important;
    overflow: hidden;
    visibility: hidden;
  }
}

@media screen and (max-width: 850px) {
  .dn {
    display: none;
  }

  .block__item-last {
    display: block;
  }
}